
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" yield-to="title">
        <span>Sardegna Clima</span>
    </div>
    <div class="btn-group pull-left">
      <a href="#/main/{{station.id}}" style="display: inline-block">
        <div class="btn btn-navbar sidebar-toggle">
           <i class="fa fa-arrow-circle-left"></i>
        </div>
      </a>
    </div>
</div>

<div content-for="title">
    <span>CREDITS</span>
</div>
<div class="app-body">
        <div class="scrollable-content">
          <div id="row">
            <div class="scd-credits col-xs-12 col-sm-12" style="margin-bottom:20px"></div>
              <div class="sc-credits col-xs-12 col-sm-12" style="text-align: center"><img src="images/sardegna_clima_logo.png" style="max-width: 150px;margin:5px 0px 10px 0px"></div>
            <div class="scd-credits col-xs-12 col-sm-12">
        
              Parametri meteorologici visualizzati in tempo reale su base dati rete amatoriale Sardegna Clima Onlus. 
            <ul style="margin-top:5px">
                <li>www.sardegna-clima.it</li>
                <li>Cod.Fisc. 93040750916</li>
                <li>Sede Legale: Via S. Satta 1 - 08023 Fonni(NU)</li>
            </ul>
            </div>
            <div class="col-xs-12 col-sm-12"><hr></div>
            <div class="name-credits col-xs-5 col-sm-5  pull-left">Raffaele Bua</div>
              <div class="role-credits col-xs-7 col-sm-7">Software Design, Development, UX - (http://www.raffaelebua.eu)</div>
              <div class="name-credits col-xs-5 col-sm-5 pull-left">Thomas Fozzi</div>
              <div class="role-credits col-xs-7 col-sm-7">Development</div> 
              
              <div class="name-credits col-xs-5 col-sm-5 pull-left">Francesco d'Aloisio</div>
              <div class="role-credits col-xs-7 col-sm-7">Development</div>  
              
          </div>
    </div>
</div>