

<div class="navbar navbar-app navbar-absolute-top map-toolbar">
    <div class="navbar-brand navbar-brand-center map-toolbar-title" yield-to="title">

    </div>
    <div class="btn-group pull-left">
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
            <i class="fa fa-bars map-settings-button"></i>
        </div>
    </div>
    <div class="btn-group pull-right">
        <div ng-click="go('/credits/')" class="btn btn-navbar">
            <i class="fa fa-info-circle map-settings-button"></i>
        </div>
    </div>
</div>



<img src="images/sardegna_clima_logo.png" class="sardegna-clima-logo">

