<h3 class="app-name">Dati mappa <div class="update-container" ng-click="manualRefresh()"><i id="refresh-icon" class="fa fa-lg fa-refresh update-icon"></i><span class="update-time">{{lastRefreshTime}}</span></div> </h3>
 
<div class="scrollable sidebar-scrollable">
 
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble target="mainSidebar">
      <a ng-click="setMapMode('temp')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='temp')}" >Temperature attuali [°C]</a>
      <a ng-click="setMapMode('tempmin')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='tempmin')}" >Minime [°C]</a>
      <a ng-click="setMapMode('tempmax')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='tempmax')}" >Massime [°C]</a>
      <a ng-click="setMapMode('dp')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='dp')}">Dewpoint [°C]</a>
      <a ng-click="setMapMode('hum')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='hum')}">Umidita' [%]</a>
      <a ng-click="setMapMode('rain')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='rain')}">Piogge [mm]</a>
      <a ng-click="setMapMode('wspeed')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='wspeed')}">Vento [km/h]</a>
      <a ng-click="setMapMode('radar')" class="list-group-item" ng-class="{'map-mode-active': (mapMode=='radar')}">Radar Meteo</a>
    </div>

  </div>
</div>
